{% extends '../base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/property_detail.css' %}">
{% endblock styles %}

{% block header %}
    <header class="header-shrink">
        {% include '../utilities/navbar.html' %}
    </header>
{% endblock header %}

{% block main %}
    <div id="nav-search" class="search-shrink">
        {% include '../utilities/nav_search_form.html' %}
    </div>
    <main>
        <section id="property-title">
            <h3>{{ property.get_property_type_display }}</h3>
        </section>
        <section id="property-image">
            <div class="main-image-container">
                <img src="{{ main_image.url }}" alt="">
            </div>
            <div class="additional-images-container">
                {% for room in property.rooms.all %}
                    {% if foorloop.counter != 1 %}
                        <div class="add-img-wrapper">
                            <img src="{{ room.image.url }}" alt="">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <section id="property-overview" class="right-side-section">
            <p>property description here</p>
            <div class="rooms-container">
                <div class="room-info">
                    <span>2</span>
                    <span>baths</span>
                </div>
                <div class="room-info">
                    <span>2</span>
                    <span>baths</span>
                </div>
                <div class="room-info">
                    <span>2</span>
                    <span>baths</span>
                </div>
                <div class="room-info">
                    <span>2</span>
                    <span>baths</span>
                </div>
            </div>
            <div class="review-rating-container">
                <div class="standing">
                    <span>{{ property.get_standing_display }}</span>
                </div>
                <div class="rating">
                    <p class="score">
                        4.91
                    </p>
                    <p class="stars">
                        &#x2022;
                        &#x2022;
                        &#x2022;
                        &#x2022;
                    </p>
                </div>
                <div class="review">
                    <p>22</p>
                    <a href="">reviews</a>
                </div>
            </div>
            <div class="proprietor-profile">
                <div class="profile-img-wrapper">
                    <img src="{{ property.proprietor.user.profile_picture.url }}" alt="">
                </div>
                <div class="profile-detail-wrapper">
                    <p>{{ property.proprietor.user.first_name }}</p>
                    <p>
                        <span>Super Host</span>
                        <span>since 2 months</span>
                    </p>

                </div>
            </div>
        </section>
        <section id="property-desc">
            <p>
                Are you searching for a comfortable and stylish apartment in the heart of Douala? Look no further! This beautiful [number]-bedroom apartment is located in the desirable [neighborhood name] neighborhood, offering a perfect blend of tranquility and convenience. The apartment boasts [highlight a unique feature, e.g., spacious balconies, modern finishes], making it an ideal place to call home. With easy access to [mention nearby amenities, e.g., shops, restaurants, public transportation], you'll have everything you need right at your doorstep.
            </p>
            <p>
                This premium house offers unparalleled comfort and sophistication. Unwind in the spa-like bathrooms or relax in the sprawling living areas. The gourmet kitchen is a chef's dream, while the private outdoor space provides a tranquil oasis.            
            </p>
            <p>
                Don't miss this opportunity to own a piece of Douala's most prestigious real estate. Contact us today to schedule a viewing of this exceptional property.
            </p>            
            <a href="">show more...</a>
        </section>
        <section id="property-payment">
            <div class="price-tag">
                <span class="price">210 000 XAF</span>
                <span class="unit">/ month</span> 
            </div>
            <div class="action-links-container">
                <a class="btn btn-gray" href="">Acquire</a>
                <a class="btn btn-theme" href="{% url 'program-visit' %}?property_id={{ property.id }}">Program a visit</a>
                <span>visit fee 5 000 XAF</span>
            </div>
            <div class="bill-container">
                <p>
                    <span>210 000 XAF x 12 months</span>
                    <span>2 250 000 XAF</span>
                </p>
                <p>
                    <span>210 000 XAF x 2 month caution</span>
                    <span>420 000 XAF</span>
                </p>
            </div>
            <div class="total-container">
                <p>
                    <span>1 year payment</span>
                    <span>2 940 000 XAF</span>
                </p>
            </div>
        </section>
    </main>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/property_detail.js' %}"></script>
{% endblock scripts %}