{% extends '../base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/property_list.css' %}">
{% endblock %}

{% block header %}
<header>
    {% include '../utilities/navbar.html' %}
</header>
{% endblock %}

{% block search_form %}
<div id="nav-search">
    {% include '../utilities/nav_search_form.html' %}
</div>
{% endblock %}

{% block main %}
<main>
    <section class="property-list-container">
        {% for property in properties %}
        <div class="property-card" data-property-url="{% url 'property-detail' property.id %}">
            <div class="card-img">
                {% for room in property.rooms.all %}
                    <img src="{{room.image.url}}" alt="">
                {% endfor %}
            </div>
            <div class="card-link-wrapper">
                {% for room in property.rooms.all %}
                    <a 
                        {% if forloop.counter == 1 %} class="card-link selected" {% else %} class="card-link" {% endif %}
                        data-img-index={{forloop.counter}}>
                    </a>
                {% endfor %}
            </div>
            <div class="card-desc">
                <h4>{{ property.get_property_type_display }} &#x2022; {{ property.city }} | {{ property.neighborhood }}</h4>
                <p>{{ property.get_standing_display }}</p>
                <h4>{{ property.price }} XAF</h4>
            </div>
        </div>
        {% endfor %}
    </section>
    <section class="page-menu">
        <a class="previous-btn">
            << prev
        </a>
        <button class="num-btn current">
            1
        </button>
        <button class="num-btn">
            2
        </button>
        <button class="num-btn">
            3
        </button>
        ...
        <button class="num-far-btn">
            10
        </button>
        <a class="next-btn">
            next >>
        <a/>
    </section>
</main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/property_list.js' %}"></script>
{% endblock %}