<form class="nav-search-form">
    <div class="place-tool">
        <label for="place-search">Where</label>
        <input type="text" name="place-searhc" id="place-search" placeholder="Where">
        <ul class="selection hidden">
            <li class="selection-close">x</li>
            <li class="option" data-search-for="place-search">South West</li>
            <li class="option" data-search-for="place-search">North West</li>
            <li class="option" data-search-for="place-search">Litoral</li>
            <li class="option" data-search-for="place-search">Center West</li>
            <li class="option" data-search-for="place-search">South</li>
            <li class="option" data-search-for="place-search">East</li>
            <li class="option" data-search-for="place-search">Far North West</li>
            <li class="option" data-search-for="place-search">West</li>
            <li class="option" data-search-for="place-search">Adamawa</li>
            <li class="option" data-search-for="place-search">North</li>
        </ul>
    </div>
    <div class="check-in-tool">
        <label for="checkin-search">Check in</label>
        <input type="date" name="checkin-search" id="checkin-search" placeholder="Check in">
    </div>
    <div class="check-out-tool">
        <label for="checkout-search">Check out</label>
        <input type="date" name="checkout-search" id="checkout-search" placeholder="Checkout">
    </div>
    <div class="type-tool">
        <label for="type-search">Standing</label>
        <input type="text" name="type-search" id="type-search" placeholder="Standing">

        <ul class="selection  hidden">
            <li class="search-close">x</li>
            <li class="option" data-search-for="type-search">Standard</li>
            <li class="option" data-search-for="type-search">High</li>
            <li class="option" data-search-for="type-search">Premium</li>
        </ul>
        <button class="search-btn"></button>
    </div> 
</form> 
