<nav>
    <div class="logo-img-container">
        <a href="{% url 'property-list' %}">SweeTHome</a>
    </div>

    {% if not hide_search %}
    <div class="nav-search-bar">
        <div class="place-bar">
            <label data-for="place-search">Where</label>
        </div>
        <div class="check-in-bar">
            <label data-for="checkin-search">Check in</label>
        </div>
        <div class="type-tool">
            <label data-for="type-bar">Standing</label>
        </div>
    </div>
    {% endif %}

    <ul class="nav-link-container">
        <li class="nav-item">
            <a href="" class="active">properties</a>
        </li>
        <li class="nav-item">
            <a href="">About us</a>
        </li>
        <li class="nav-item">
            {% if user.proprietorprofile %}
                <a href="{% url 'create-property' %}" class="active">rent a property</a>
            {% else %}
                <a href="{% url 'become-proprietor' %}" class="active">become proprietor</a>
            {% endif %}
        </li>
        <div class="nav-item profile-container">
            <button>&#x2630;</button>
            <!-- hamburger menu button here-->
            <div class="profile-img-container">
                <img src="{{ user.profile_picture.url }}" alt="">
            </div>
        </div>
    </ul>
</nav>