@import url('./vars.css');


section.property-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 1em;
}

.property-card {
    position: relative;
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.property-card .card-img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    z-index: 5;
}

.card-img img {
    flex: 1 0 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-link-wrapper {
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    align-items: center;
    z-index: 6;
}

.card-link {
    opacity: 0.7;
    display: block;
    height: 15px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: white;
    transition: opacity 0.4s ease;
}

.card-link:hover {
    opacity: 1;
}

.property-card .card-desc {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5em 0;
    font-size: 1rem;
    gap: 0.3em
}

.card-desc h4 {
    font-weight: lighter;
}

.card-desc p {
    color: var(--light-gray);
}

section.page-menu {
    width: 35%;
    height: 8vh;
    border-radius: 100px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7em;
}

.previous-btn {
    margin-left: 20px;
    cursor: pointer;
}

.num-btn,
.num-far-btn {
    height: 60%;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.num-btn.current {
    background-color: var(--light-green);
    font-weight: 800;
    font-size: 1.1em;
    color: white;
}


.next-btn {
    margin-right: 20px;
    cursor: pointer;
}
