:root {
    --black: #141d1b; 
    --link-color: #68cfdd;
    --light-gray: #82868dfe;
    --line-color: #e4e4e4;
    --light-green: #32c3b0;
    --shadow: 0px 0px 5px 0px #859ba066;

    /* shadows */
    --soft-light-green-shadow: 0px 0px 7px 0px #79d5ca47;
    --soft-light-green-shadow-border: 1px solid #79d5ca9d;

    --soft-light-gray-shadow: 0px 0px 7px 1px #cddbd99f;
    --soft-light-gray-shadow-border: 1px solid #b7bbba;
}
