{% extends '../base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/property_list.css' %}">
{% endblock %}

{% block header %}
<header>
    {% include '../utilities/navbar.html' %}
</header>
{% endblock %}

{% block search_form %}
<div id="nav-search">
    {% include '../utilities/nav_search_form.html' %}
</div>
{% endblock %}

{% block main %}
<main>
    <section class="property-list-container">
        <div class="property-card">
            <div class="card-img">
                <img src="{% static 'images/chastity-cortijo-FJLoqqIsSHc-unsplash.jpg' %}" alt="" id="p1-img1">
                <img src="{% static 'images/frames-for-your-heart-FqqiAvJejto-unsplash.jpg' %}" alt="" id="p1-img2">
                <img src="{% static 'images/jarek-ceborski-jn7uVeCdf6U-unsplash.jpg' %}" alt="" id="p1-img3">

            </div>
            <div class="card-link-wrapper">
                <a class="card-link" data-img-index=1></a>
                <a class="card-link" data-img-index=2></a>
                <a class="card-link" data-img-index=3></a>
            </div>
            <div class="card-desc">
                <h4>Property Town</h4>
                <p>Property standing</p>
                <h4>0000 XAF</h4>
            </div>
        </div>
    </section>
    <section class="page-menu">
        <a class="previous-btn">
            << prev
        </a>
        <button class="num-btn current">
            1
        </button>
        <button class="num-btn">
            2
        </button>
        <button class="num-btn">
            3
        </button>
        ...
        <button class="num-far-btn">
            10
        </button>
        <a class="next-btn">
            next >>
        <a/>
    </section>
</main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/property_list.js' %}"></script>
{% endblock %}