{% extends '../base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/property_list.css' %}">
{% endblock %}

{% block header %}
<header>
    {% include '../utilities/navbar.html' %}
</header>
{% endblock %}

{% block search_form %}
<div id="nav-search">
    {% include '../utilities/nav_search_form.html' %}
</div>
{% endblock %}

{% block main %}
    <main>
        <section class="property-list-container">
            <div class="property-card" onclick="window.location.href='propertyDetail.html'">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>
            <div class="property-card">
                <div class="card-img">
                    
                </div>
                <div class="card-desc">
                    <h4>Property Town</h4>
                    <p>Property standing</p>
                    <h4>0000 XAF</h4>
                </div>
            </div>

        </section>
        <section class="page-menu">
            <a class="previous-btn">
                << prev
            </a>
            <button class="num-btn current">
                1
            </button>
            <button class="num-btn">
                2
            </button>
            <button class="num-btn">
                3
            </button>
            ...
            <button class="num-far-btn">
                10
            </button>
            <a class="next-btn">
                next >>
            <a/>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/property_list.js' %}"></script>
{% endblock %}