    {% extends '../base.html' %}

    {% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}

    {% block header %}
        <header class="header-shrink">
            {% include '../utilities/navbar.html' with hide_search=True %}
        </header>
    {% endblock %}

    {% block main %}
    <main>
        <div id="signup-form-container">
            <div class="form-header">
                <span>Become Proprietor</span>   
            </div>
            <form  method="POST"  action="" enctype="multipart/form-data">
                {% csrf_token  %}
                {% for field in form %}
                    <div class="form-field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="form-field">
                    <button type="submit" class="btn btn-theme">submit</button>
                </div>
            </form>
        </div>
    </main>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
