{% extends '../base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block header %}
    <header class="header-shrink">
        {% include '../utilities/navbar.html' %}
    </header>
{% endblock header %}

{% block main %}
    <div id="nav-search" class="search-shrink">
        {% include '../utilities/nav_search_form.html' %}
    </div>
    <main>

    </main>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock scripts %}